<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yifuyou.weather_t">

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.WeatherT"
        android:name=".MyApplication">
        <activity
            android:name=".ui.StartActivity"
            android:theme="@style/Theme.WeatherT.launch"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" android:theme="@style/Theme.WeatherT.NoActionBar" android:launchMode="singleTop"/>
        <activity android:name=".ui.SecondActivity"/>
        <activity android:name=".ui.CitiesManageActivity"/>
    </application>

</manifest>